---
AllowAllArgumentsOnNextLine: 'true'
AllowAllConstructorInitializersOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortFunctionsOnASingleLine: None
BinPackParameters: 'false'
ColumnLimit: '120'
SortIncludes: 'false'

...
